<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可切换的精美CSS3登录注册表单DEMO演示</title>
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript">
        var dataJson = {};
        function setRequestMonitoryInfo() {
            dataJson.monitoryApiHost = $("#monitoryApiHost").val();
            dataJson.monitoryApiPort = $("#monitoryApiPort").val();
            dataJson.mainId = $("#mainId").val();
            if (isEmpty(dataJson.monitoryApiHost)) {
                alert("IP为空");
                return;
            }
            if (isEmpty(dataJson.monitoryApiPort)) {
                alert("端口为空");
                return;
            }
            alert("配置成功");
            $("#main-div").removeClass("right-panel-active");
        }
        function getFlvMonitoryPlay() {
            dataJson.monitoryApiAccount = $("#monitoryApiAccount").val();
            dataJson.monitoryApiPassword = $("#monitoryApiPassword").val();
            form_submit = $('#form2');
            form_submit.prop('monitoryApiHost', dataJson.monitoryApiHost);
            form_submit.prop('monitoryApiPort', dataJson.monitoryApiPort);
            form_submit.prop('mainId', dataJson.mainId);
            form_submit.submit();

/*            $.post("/VideoController/getMonitoryPage" ,dataJson,function (data){
                window.location = data;
                /!*var newWin = window.open('', '_blank');
                newWin.document.write(data);*!/
            },"json");*/
        }
    </script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" id="main-div">
    <!-- 配置 -->
    <div class="container__form">
        <form action="/VideoController/getMonitoryPage" class="form" id="form2" method="post">
            <h2 class="form__title">登录</h2>
            <input type="text" placeholder="账号" class="input" id="monitoryApiAccount" name="monitoryApiAccount"/>
            <input type="password" placeholder="密码" class="input" id="monitoryApiPassword" name="monitoryApiPassword"/>

            <h2 class="form__title">配置</h2>
            <input type="text" placeholder="视频模块后端访问IP地址" class="input" id="monitoryApiHost" name="monitoryApiHost"/>
            <input type="text" placeholder="访问端口" class="input" id="monitoryApiPort" name="monitoryApiPort"/>
            <input type="text" placeholder="摄像头主ID" class="input" id="mainId" name="mainId"/>

            <button class="btn" onclick="getFlvMonitoryPlay()">登录</button>
        </form>
    </div>
</div>
<!-- partial -->
<script src="/static/js/script.js"></script>

</body>
</html>
